[user]
	email = ortner@tu-berlin.de
	name = philipportner
	signingKey = /home/philipportner/.ssh/github.pub

[merge]
    tool = nvimdiff4
    prompt = false
[mergetool "nvimdiff4"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg3 = log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%h -%d %s (%ad) <%an>'
    lg = !"git lg1"
[core]
    editor = nvim
[grep]
	lineNumber = true
[maintenance]
    repo = /home/philipportner/dotfiles
    repo = /home/philipportner/daphne
[rerere]
	enable = true
	autoUpdate = true
[branch]
	sort = -committerdate
[gpg]
	format = ssh
[commit]
	gpgsign = true
[checkout]
	defaultRemote = origin
[init]
	defaultBranch = main
